<div id="<%= dom_id user %>" class="container">

  <p class="min-full">    
    <strong>Name:</strong>
  </p>

  <p class="min-full flex justify-center items-center h-20 text-lg font-medium bg-slate-200 rounded-lg">    
    <%= user.name %>
  </p>

</div>
