<div id="<%= dom_id appointment %>">
  <p>
    <strong>Start date:</strong>
    <%= appointment.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= appointment.end_date %>
  </p>

</div>
